body {
    font-family: sans-serif;
    text-align: center;
}

.boards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.board {
    display: grid;
    grid-template: repeat(10, 2rem) / repeat(10, 2rem);
    gap: 2px;
}

.gridCell {
    border: 1px solid #444;
    background-color: #e5e7eb;
    cursor: pointer;
}

.gridShip {
    background-color: #3b82f6;
}

.gridHit {
    background-color: #ef4444;
}

.gridMiss::after {
    content: "x";
    color: #947805;
    font-size: 1.6rem;
    line-height: 1.8rem;
    display: block;
}

.disabled .gridCell {
    cursor: not-allowed;
    pointer-events: none;
}